
input[type="search"]::placeholder { color: #ffd595; }

.input {
    background-color: #FFFFFF;
    border: 0px solid #71B467;
    outline: none;
    border-radius: 3px;
    grid-column: 1/3;
    grid-row: 1;
    font-family: 'Mate SC';
}
.input::-webkit-input-placeholder { /*color:#71B467;*/ font-family: 'Mate SC';}

.inputWithValidate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}
.validate{
    grid-column: 2/3;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    padding: 0 5px 0 0;
    color: red;
    font-size: 15px;
    overflow: auto;
    height: 100%;
}
