.buyer {
    width: 1024px;
    background-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.list {
    display: grid;
    grid-template-columns: 12fr 1fr;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Mate SC', fantasy;
    color: #71B467;
    margin: 0 -5px 0 -5px;
    text-decoration: none;
    background-image: url("../../public/images/fon 2.jpg");
    background-size: 100% auto;
}

.nav{
    text-decoration: none;
}

.orders {
    padding: 5px 0px 5px 0px;
/*    text-decoration: none;*/
    margin: 5px 0px 5px 0px;
/*    margin-left: auto;
    margin-right: auto;*/
    border: 1px solid #71B467;
    border-radius: 3px;
    transition: .3s;
    width: 90%;
    background-color: #F7FAF8;
    text-decoration: none;
}

.orders:hover {
    background-color: #71B467;
    color: #FFFFFF;
    transition: .3s;
}

.title {
    height: 45px;
    text-align: center;
    font-family: 'Mate SC', fantasy;
    color: #FFFFFF;
    background-color: #71B467;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 3px;
}
.listOfProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

}