.product {
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 3px solid #71B467;
    padding: 5px;
    font-family: 'Mate SC', serif;
    color: #71B467;
    width: 320px;
}
.name {
    font-size: 30px;
}
.description {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-auto-rows: 50px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #71B467;
    padding: 5px;
    font-family: 'Mate SC', serif;
    color: #71B467;
}
.descriptionText {
    border: none;
    outline: none;
    resize: none;
    font-family: 'Mate SC', serif;
    cursor: pointer;
}
.descriptionButton {
    height: 100%;
    border: none;
}
.descriptionButtonOpen {
    height: 62px;
    border: 1px solid #71B467;
}
.buttonAdd {
    border: 1px solid #71B467;
}
.price {
    font-size: 13px;
}
.button {
    border: 1px solid #C56183;
    color: #C56183;
    transition: .3s;
}
.button:hover {
    background-color: #C56183;
    color: #FFFFFF;
    transition: .3s;
}
.photo{
    display: grid;
    grid-auto-rows:200px;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
}
.chengePhoto {
    height: 100%;
    border: none;
}
.chengePhoto:hover {
    height: 100%;
    border: none;
    background-color: #F7FAF8;
}
.photoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 200px;
}

