@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
.app {
    width: 1024px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    min-height: 98vh;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 5px;
    background-color: transparent; /*штучки по краям от прокручивающего элемента*/
}
::-webkit-scrollbar-track-piece  { /*пространство в котором двигается прокручивалка*/
    background-color: #eeeeee;
    -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical { /*сама прокручивающая штука*/
    height: 10px;
    background-color: #71B467;
    border: 1px solid #eee;
    -webkit-border-radius: 10px;
}
button {
    background-color: #FFFFFF;
    border: 0px solid #71B467;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'Mate SC', fantasy;
    color: #000000;
    height: 40px;
    transition: .3s;
}
button:hover {
    background-color: #71B467;
    color: #FFFFFF;
    transition: .3s;
}
input[type="text"] {
    font-family: 'Mate SC', serif;
}
input[type="number"] {
    font-family: 'Mate SC', serif;
}
textarea{
    font-family: 'Mate SC', serif;
    scrollbar-base-color: red;
    scrollbar-arrow-color: white;
    scrollbar-track-color: blue;
}



