
input[type="search"]::placeholder { color: #ffd595; }
.form {
    opacity: 0;
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    background-color: #F9F9F9 ;
    border-radius: 3px;
    border: 0px solid #71B467;
    padding: 5px;
    font-family: 'Mate SC', fantasy;
    color: #000000;
/*    align-items: center;
    justify-content: center;*/
    position: fixed;
    width:900px;
/*    height: 500px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    /*transition: opacity 0.6s, background 0.6s, visibility 0s linear 0.6s;*/
    background-image: url("../../../public/images/fon 5.jpg");
    background-size: 100% auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.changeForm{
    opacity: 1;
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    background-color: #F9F9F9 ;
    border-radius: 3px;
    border: 0px solid #71B467;
    padding: 5px;
    font-family: 'Mate SC', fantasy;
    color: #000000;
    /*    align-items: center;
        justify-content: center;*/
    position: fixed;
    width:900px;
/*    height: 500px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    transition: opacity 0.4s, background 0.4s, visibility 0s linear 0.4s ;
    transition-delay: 0s;
    background-image: url("../../../public/images/fon 5.jpg");
    background-size: 100% auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.input {
    background-color: #FFFFFF;
    border: 0px solid #71B467;
    outline: none;
    border-radius: 3px;
}
.input::-webkit-input-placeholder { color:#71B467; font-family: 'Mate SC';}
.formURL{
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 12fr 2fr;
}
.inputURL {
    background-color: #FFFFFF;
    border: 0px solid #71B467;
    outline: none;
    border-radius: 3px;
    height: 40px;
    width: 100%;
}
.inputDescription{
    background-color: #FFFFFF;
    border: 0px solid #71B467;
    outline: none;
    border-radius: 3px;
    height: 80px;
    resize: none;
}
.inputDescription::-webkit-input-placeholder { color:#71B467; font-family: 'Mate SC';}
.name {
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 3fr 1fr;
}
.list {
    display: grid;
    grid-row-gap: 5px;
    margin-top: 5px;
    min-height: 40px;
    background-color: #F7FAF8;
    border: 0px solid #71B467;
    border-radius: 3px;
    padding: 5px;
    align-content: center;
}
.URL{
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    width: 700px;
}
.formOneURL {
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 2fr 16fr 2fr;
}
.imgUrl{
    height: 60px;
    border-radius: 3px;
}
.nameOfForm{
    display: grid;
    grid-template-columns: 22fr 1fr;
}
